streamlit
streamlit-autorefresh
streamlit-aggrid
streamlit-extras
pandas
numpy
yfinance
yahooquery
polygon-api-client
oplab-client-python
matplotlib
seaborn
plotly
altair
bokeh
kaleido
mplfinance
requests
lxml
scipy
tenacity
supabase
psycopg2-binary
reportlab
python-telegram-bot==20.7
python-dotenv

